@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4 primary">Ethan's Diabetic Inventory System</h1>
    <p>Select from below when taking the items from the inventory</p>
    <div class="btn btn-primary">
        Pump Change
    </div>
    <div class="btn btn-secondary">
        CGM Change
    </div>
    <div class="btn btn-secondary">
        Test Strips
    </div>
    <div class="btn btn-secondary">
        Alcohol Wipes
    </div>
</div>