@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Ethan's Diabetic Inventory System</h1>
    <p>This application is designed to enable tracking of Ethan's diabetic supplies. </br>
    Please ensure you are keeping it up to date with all inventory changes.</p>
</div>
