@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Ethan's Diabetic Inventory System</h1>
        <p class="lead">This application is designed to enable tracking of Ethan's diabetic supplies.</p>
    </div>
    <div class="container">
        <hr class="my-4">
    </div>
    <div class="container">
        <button type="button" class="btn btn-primary btn-lg">Pump Change</button>
        <button type="button" class="btn btn-primary btn-lg btn-pill">CGM Change</button>
    </div>
</div>
